[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/pycmam/symfony.git
[submodule "plugins/sfPhpunitPlugin"]
	path = plugins/sfPhpunitPlugin
	url = git://github.com/maxim-oleinik/sfPhpunitPlugin.git
[submodule "plugins/sfSimpleGoogleSitemapPlugin"]
	path = plugins/sfSimpleGoogleSitemapPlugin
	url = git@github.com:pycmam/sfSimpleGoogleSitemapPlugin.git
[submodule "plugins/sfRichMenuPlugin"]
	path = plugins/sfRichMenuPlugin
	url = git://github.com/pycmam/sfRichMenuPlugin.git
[submodule "plugins/sfDoctrineGuardPlugin"]
	path = plugins/sfDoctrineGuardPlugin
	url = git@github.com:pycmam/sfDoctrineGuardPlugin.git
[submodule "plugins/npAssetsOptimizerPlugin"]
	path = plugins/npAssetsOptimizerPlugin
	url = git@github.com:pycmam/npAssetsOptimizerPlugin.git
[submodule "plugins/myContentPlugin"]
	path = plugins/myContentPlugin
	url = git@github.com:pycmam/myContentPlugin.git
[submodule "plugins/sfAdminDashPlugin"]
	path = plugins/sfAdminDashPlugin
	url = git@github.com:pycmam/sfAdminDashPlugin.git

[submodule "plugins/sfReplicaThumbnailPlugin"]
	path = plugins/sfReplicaThumbnailPlugin
	url = git@github.com:pycmam/sfReplicaThumbnailPlugin.git
[submodule "plugins/myImageUploadPlugin"]
	path = plugins/myImageUploadPlugin
	url = git@github.com:pycmam/myImageUploadPlugin.git
