html, body, div, span,
h1, h2, h3, h4, h5, h6, p, pre,
a, img, strong,
dl, dt, dd, ul, ol, li,
fieldset, form, label, legend,
table, tbody, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    background: #fff;
    color: #444;
    font-family: tahoma,arial,sans-serif;
    font-size: 9pt;
    height: 100%;
    width: 100%;
}

div, ul, ol, li, p {
    overflow: hidden;
}

#map_canvas div,
.google_map div {
    overflow: visible;
}

h1, h2, h3 {
    font-weight: bold;
    overflow: hidden;
    font-weight: normal;
}

h1 {
    font-size: 18pt;
    margin-bottom: 16px;
}

h2 {
    font-size: 14pt;
    margin-bottom: 14px;
}

h3 {
    font-size: 132t;
    margin-bottom: 12px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #618BBC;
    text-decoration: underline;
}

a:hover {
    color: #F69452;
}

#wrap {
    width: 100%;
    height: 100%;
}

a.ajax {
    text-decoration: none;
    border-bottom: 1px dashed #618BBC;
}

a.ajax:hover {
    text-decoration: none;
    border-bottom: 1px dashed #F69452;
}

.active a.ajax {
    color: #fff;
    background: #F69452;
    border: none;
    padding: 2px 5px;
    margin-top: -2px;
}

.active a.ajax:hover {
    border: none;
}

/* forms */

input[type=text], input[type=submit], textarea, select {
    font-family: tahoma, arial, sans-serif;
    font-size: 10pt;
    padding: 1px;
}

label {
    display: block;
    margin-bottom: 3px;
}

.error_list {
    clear: both;
    font-size: 8pt;
    color: #ff0000;
}

.form-item {
    margin-bottom: 5px;
}

form input[type=submit] {
    padding: 2px;
}

.content {
    padding: 15px;
    height: 100%;
}

.menu li {
    float: left;
    margin-right: 10px;
    padding-top: 2px;
}

.menu li a {
    display: block;
}

/* content layout */

#wrap {
    margin: 0 auto;
    width: 960px;
    padding: 20px 0;
}

/* map layout */

#map-layout {
    width: 100%;
    height: 100%;
}

#map {
    float: left;
    width: 72%;
    height: 100%;
}

#map_canvas {
    width: 100%;
    height: 100%;
    overflow: visible;
}

#sidebar {
    float: left;
    width: 28%;
    height: 100%;
    clear: right;
    background: #f3f3f3;
    min-width: 150px;
}

#main-menu {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 13pt;
}

#main-menu li {
    margin-right: 15px;
}

#types-menu {
    margin-bottom: 15px;
}

#header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #fdfdfd;
    border-bottom: 1px solid #ddd;
}

#header #logo,
#header #account {
    display: block;
    float: left;
}

#header #logo {
    width: 84px; height: 54px;
    margin-right: 15px;
    background: url('/images/logo.png') center center no-repeat;
}

#auth-buttons {
   margin-top: 15px;
}

#auth-buttons li {
    float: left;
    margin-right: 2px;
}

#auth-buttons li a {
    display: block;
    background: #fff;
    width: 16px; height: 16px;
    padding: 3px;
    border: 1px solid #ccc;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    font-size: 10pt;
}

#auth-buttons li #loginza-all {
    width: 45px;
}

#content {
    padding-top: 10px;
    border-top: 1px solid #fdfdfd;
}

#content .content {
    padding: 0;
}

.loader {
    display: none;
    height: 50px;
    background: url('/images/ajax-loader.gif') center center no-repeat;
}

/* places */

#point-form #point_title,
#point-form #point_description {
    width: 340px;
}

#point-form #point_description {
    height: 100px;
}
